.about {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(1.125rem, 0.5472rem + 2.4653vw, 2.125rem);
  letter-spacing: 1.8;
  padding: 50px 0 20px;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 90px 0 50px;
  }
}
