.bcg {
  background: linear-gradient(300deg, var(--bcg));
  height: auto;
  padding: 50px 10px 0;
  position: relative;
}

.box {
  color: var(--grey-dark);
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}
.navList {
  line-height: 1.3;
  padding-left: 10px;
}
.navtitle {
  font-family: var(--section-title-font);
  font-size: 18px;
}
.navname {
  font-size: 16px;
  font-family: var(--section-title-font);
  font-weight: 600;
}
.titleBox {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.siteInfo {
  z-index: 101;
  margin-bottom: 10px;
}
.siteTitle {
  font-size: 18px;
  font-family: var(--site-title-font);
  color: var(--grey-dark);
}
.favicon {
  width: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
  height: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
}
.address {
  font-size: 12px;
  font-family: var(--section-title-font);
  color: var(--grey-dark);
  padding-left: 30px;
}
.copyright {
  font-size: 8px;
  font-family: var(--section-title-font);
  color: var(--grey-light);
  letter-spacing: -0.8px;
  padding: 10px 0;
}
.figure {
  position: absolute;
  bottom: 100px;
  right: 0;
  mix-blend-mode: darken;
}
.heroImg {
  width: 194px;
  height: 160px;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 50px;
    margin-bottom: 250px;
  }

  .heroImg {
    width: 432px;
    height: 339px;
  }
  .copyright {
    text-align: center;
  }
  .address {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .figure {
    right: 300px;
  }
}
