*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --transition: all 0.3s linear;
  --white: #ffffff;
  --black: #1c1c1c;
  --grey-dark: #7e7e7e;
  --grey-light: #9e9e9e;
  --accent-clr-01: #ff9692;
  --primary-green-01: #57b9b0;
  --primary-green-02: #7ac8be;
  --primary-green-03: #cef0e4;
  --site-title-font: "Josefin Sans", sans-serif;
  --section-title-font: "Montserrat", sans-serif;
  --text-font: "游明朝";
  --catch-font: "Noto Sans JP", sans-serif;
}
body {
  font-family: var(--text-font);
  font-size: 1.6rem;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.parts-grid {
  display: grid;
  grid-template-columns: 15px min(calc(100vw - (5vw * 2)), 1200px) 15px;
}

.parts-grid > * {
  grid-column: 2;
}
.section-padding {
  padding: 50px 0;
}
.section-margin {
  margin: 30px 0;
}
table {
  table-layout: fixed;
  /* border: solid 1px black; */
  border-spacing: 5px;
}
th,
td {
  font-family: var(--section-title-font);
  font-size: 14px;
  /* font-weight: 400; */
  /* border: solid 1px black; */
  text-align: start;
}
th {
  width: 60px;
}
.css-162mkon {
  display: none !important;
}
