.boxUpper {
  display: flex;
  justify-content: right;
  column-gap: 0.3rem;
  line-height: 1.3;
}
.boxUpper svg {
  color: var(--grey-dark);
  width: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
  height: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
}
.boxUnder {
  display: grid;
  grid-template-columns: 1fr auto;
  line-height: 1.3;
}
.titleBox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.3rem;
}
.favicon {
  width: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
  height: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
}
.siteTitle {
  font-family: var(--site-title-font);
  font-size: clamp(1.3125rem, 0.6986rem + 2.6194vw, 2.375rem);
  letter-spacing: -0.5px;
}
.menuIcon {
  color: var(--grey-dark);
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .navSp {
    display: none;
  }
}
