.bcg {
  background-color: var(--primary-green-01);
  height: 434px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  width: 6;
}
.catch {
  margin-bottom: 60px;
}
.catch {
  font-family: var(--catch-font);
  font-weight: 500;
  color: var(--white);
  font-size: clamp(1.5625rem, 0.9125rem + 2.7735vw, 2.6875rem);
}
