.navPc {
  display: none;
}
@media screen and (min-width: 768px) {
  .navPc {
    display: flex;
    column-gap: 0.3rem;
  }
  .name {
    font-family: var(--section-title-font);
    font-size: clamp(0.9375rem, 0.375rem + 1.1719vw, 1.125rem);
  }
}
