.figure {
  width: 100vw;
  align-self: center;
  height: 375px;
}
@media screen and (min-width: 768px) {
  .figure {
    width: 450px;
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .figure {
    width: 500px;
    height: 500px;
  }
}
