.figure {
  /* margin: 0 -3vw; */
  width: 345px;
  height: 375px;
}
.heroImg {
  width: 345px;
  height: 375px;
}
@media screen and (min-width: 768px) {
  .heroImg {
    width: 375px;
    height: 415px;
  }
}
@media screen and (min-width: 1024px) {
  .heroImg {
    width: 449px;
    height: 415px;
  }
}
