.productsTitle svg {
  width: clamp(1rem, 0.4222rem + 2.4653vw, 2rem);
  height: clamp(1rem, 0.4222rem + 2.4653vw, 2rem);
}

.productsTitle h3 {
  font-family: var(--section-title-font);
  font-size: clamp(1.25rem, 0.9611rem + 1.2327vw, 1.75rem);
}
.card {
  font-family: var(--section-title-font);
  box-shadow: 6px 6px 10px var(--grey-light);
  padding: 18px 13px;
}
.name {
  font-size: 16px;
  font-weight: 600;
}
.id {
  font-size: 14px;
  color: var(--grey-light);
}
.merker {
  font-size: 14px;
  font-weight: 500;
}
.number {
  font-size: 14px;
  font-weight: 500;
}
